build/
.chglog/
data/data
data/icons
data/screenshots
.gradle
.idea/
*.iml
*.ipr
*.iws
other/
/bin/
Logging.*
# https://raw.githubusercontent.com/github/gitignore/main/Global/Kate.gitignore
# Swap Files #
.*.kate-swp
.swp.*
